{
  "branches": [
    "master",
    {name: 'main', channel: 'main'},
    {name: 'special/main', channel: 'special'},
    {name: 'test', prerelease: true}
  ],
  "tagFormat": "v${version}-${channel}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
        "linkReferences": false
      }
    ],

    "@semantic-release/github",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["docs/CHANGELOG.md"]
      }
    ]
  ]
}
